.eth-theme {
    --col-main: #4B60CD;
    --col-active: #5A6DCF;
    --col-border: #5A6DCF;
    --col-bg: #5A6DCF;
    --col-line-1: #7F40D5;
    --col-line-2: #4A5FCC;
    --col-hover: #697CDE;
    --col-bg-75: #FCFBFF;
    --col-before-bg: #F7F8FF;
}

.bnb-theme {
    --col-main: #F4C247;
    --col-active: #F4C247;
    --col-border: #F4C247;
    --col-bg: #F4C247;
    --col-line-1: #F8C13C;
    --col-line-2: #FFD671;
    --col-hover: #FFD15F;
    --col-bg-75: #F7F8FF;
    --col-before-bg: #FDFDFC;
}

.ht-theme {
    --col-main: #46A8F3;
    --col-active: #46A8F3;
    --col-border: #46A8F3;
    --col-bg: #46A8F3;
    --col-line-1: #7BB9F8;
    --col-line-2: #7A88DF;
    --col-hover: #56B6FF;
    --col-bg-75: #FDFDFC;
    --col-before-bg: #F3F8FB;
}

.xDai-theme {
    --col-main: #75BEBC;
    --col-active: #75BEBC;
    --col-border: #75BEBC;
    --col-bg: #75BEBC;
    --col-line-1: #75BEBC;
    --col-line-2: #53CCC9;
    --col-hover: #89CFCD;
    --col-bg-75: #F3F8FB;
    --col-before-bg: #FAFFFF;
}

.fantom-theme {
    --col-main: #696BFD;
    --col-active: #5A6DCF;
    --col-border: #696BFD;
    --col-bg: #696BFD;
    --col-line-1: #4244FA;
    --col-line-2: #9798FD;
    --col-hover: #7779FF;
    --col-bg-75: #FAFFFF;
    --col-before-bg: #F9F9FF;
}

.solana-theme {
    --col-main: #C053F4;
    --col-active: #C053F4;
    --col-border: #C053F4;
    --col-bg: #C053F4;
    --col-line-1: #C053F4;
    --col-line-2: #7353F4;
    --col-hover: #CE69FE;
    --col-bg-75: #F9F9FF;
    --col-before-bg: #FEFCFF;
}

.polygon-theme {
    --col-main: #884FE7;
    --col-active: #884FE7;
    --col-border: #884FE7;
    --col-bg: #884FE7;
    --col-line-1: #884FE7;
    --col-line-2: #B589FD;
    --col-hover: #9F69F9;
    --col-bg-75: #FEFCFF;
    --col-before-bg: #FCFBFF;
}

.default-theme {

}
